<header class="font-kanit font-bold bg-Purple text-Blue h-14 text-3xl flex items-center text-center">
    <a class="ml-5" href="/">Corben's Precious Little Site</a>
    <ul class="flex justify-end ml-auto mr-5">
        <li><a class="ml-4" href="/smashorpass/index.html">SMASH OR PASS</a></li>
        <li><a class="ml-4" href="/dnd">DND</a></li>
        <li><a class="ml-4" href="/smashorpass/index.html">GALLERY</a></li>
    </ul>
</header>