<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;900&family=Roboto+Mono&family=Sarabun&display=swap" rel="stylesheet">
</head>
<body class="font-kanit bg-red-200">
    <%- include('../partials/header') %>
    <div class = "grid grid-cols-5 w-full text-center m-auto justify-center">
        <% filenames.forEach(element => { %>
            <div class="mx-10 my-5">
                <img class="mb-2 border-solid border-Red border-2 drop-shadow-glowred" src="./<%= element %>">
                <% 
                let endIndex = 0;
                for (let i = 0; i < element.length; i++) {
                    if(element[i] == '.'){
                        endIndex = i;
                        break;
                    }
                 }
                 const name = element.substring(0,endIndex)  
                 %>

                <p><%= name %></p>
            </div>
        <% }); %>
        </div>
</body>
</html>