<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corben's Site</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body class="bg-red-200">
    <%- include('../partials/header') %>
    <div class="flex flex-col w-[80vw] text-center">
        <h1><%= locals.post.title %></h1>
    </div>
</body>
</html>